<div class="container mb-5 px-4">
    <h1 class="mb-5">기숙사 환산점수 계산</h1>
    <form active="/conversion" method="GET" class="mb-5">

        <table class="table table-hover table-bordered mb-5">
            <colgroup>
                <col width=15%>
                <col width=7%>
                <col width=7%>
                <col width=7%>
                <col width=20%>
                <col width=20%>
                <col width=10%>
                <col width=10%>
            </colgroup>

            <thead>
            <tr>
                <th scope="col">단과대학</th>
                <th scope="col">학점</th>
                <th scope="col">상점</th>
                <th scope="col">벌점</th>
                <th scope="col">시/도</th>
                <th scope="col">시/군/구</th>
                <th scope="col">거리점수</th>
                <th scope="col">환산점수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">
                    <select class="form-select col-xxl-3 col-xl-4 col-lg-6 w-100" name="collage" id="collages"
                            aria-label="Default select example">
                        <option selected>단과대학</option>
                        <option value="engineering">공과대학</option>
                        <option value="agriculture">농업생명대학</option>
                        <option value="education">사범대학</option>
                        <option value="commerce">상과대학</option>
                        <option value="humanEcology">생활과학대학</option>
                        <option value="arts">예술대학</option>
                        <option value="humanities">인문대학</option>
                        <option value="naturalSciences">자연과학대학</option>
                    </select>
                </th>
                <td>
                    <input type="number" name="grade" class="form-control" id="gradeInput" step="0.01">
                </td>
                <td>
                    <input type="number" name="bonusPoint" class="form-control" id="bonusPointInput" step="1">
                </td>
                <td>
                    <input type="number" name="minusPoint" class="form-control" id="minusPointInput" step="1">
                </td>
                <td>
                    <select name="province" id="provinces" class="form-select col-xxl-3 col-xl-4 col-lg-6 w-100"
                            aria-label="Default select example">
                    </select>
                </td>
                <td><select class="form-select col-xxl-3 col-xl-4 col-lg-6 w-100" aria-label="Default select example">
                    <option selected>시/군/구</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select></td>
                <td>
                    <input class="form-control" type="number" value="{{distanceScore}}" id="distanceScore" readonly>
                </td>
                <td>
                    <input class="form-control" type="number" value="{{conversionScore}}" id="conversionScore" readonly>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="container row justify-content-between">
            <div class="form-check col-xxl-3 col-xl-4 col-lg-6">
                <input class="form-check-input" type="radio" name="gender" value="m" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    남성
                </label>
            </div>
            <div class="form-check col-xxl-3 col-xl-4 col-lg-6">
                <input class="form-check-input" type="radio" name="gender" value="w" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    여성
                </label>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-6">
                <button class="btn btn-dark rounded-pill px-3" type="submit">계산하기!</button>
            </div>
        </div>
    </form>
</div>