
{{>layouts/header}}

<main>

    {{>layouts/conversion-form}}

    <hr>

    <div class="container">
        <div class="row justify-content-center g-4 px-2 gap-4 mb-5 mt-2">

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/참빛관.png" class="card-img-top" alt="참빛관 사진">
                <div class="card-body">
                    <h5 class="card-title">참빛관</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button"
                            onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C3000', '_blank')">홈페이지 ㄱ
                        ㄱ</button>
                </div>
            </div>

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/대동관.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">대동관</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button"
                            onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C2000', '_blank')">홈페이지 ㄱ
                        ㄱ</button>
                </div>
            </div>

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/평화관.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">평화관</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button"
                            onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C2000', '_blank')">홈페이지 ㄱ
                        ㄱ</button>
                </div>
            </div>

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/새빛관.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">새빛관</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button"
                            onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C5000', '_blank')">홈페이지 ㄱ
                        ㄱ</button>
                </div>
            </div>

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/한빛관.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">한빛관</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button"
                            onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C6000', '_blank')">홈페이지 ㄱ
                        ㄱ</button>
                </div>
            </div>

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/창의관.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">창의관</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button"
                            onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C9000', '_blank')">홈페이지 ㄱ
                        ㄱ</button>
                </div>
            </div>

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/혜민관.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">혜민관</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button"
                            onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C4000', '_blank')">홈페이지 ㄱ
                        ㄱ</button>
                </div>
            </div>

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/특성화캠퍼스.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">웅비관</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button"
                            onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C7000', '_blank')">홈페이지 ㄱ
                        ㄱ</button>
                </div>
            </div>

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/특성화캠퍼스.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">청운관</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button"
                            onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C8000', '_blank')">홈페이지 ㄱ
                        ㄱ</button>
                </div>
            </div>

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/미리보기.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">추가 예정</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button">추가 예정</button>
                </div>
            </div>

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/미리보기.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">추가 예정</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button">추가 예정</button>
                </div>
            </div>

            <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
                <img src="./images/미리보기.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">추가 예정</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-dark rounded-pill px-3" type="button">추가 예정</button>
                </div>
            </div>

        </div>
    </div>

</main>

{{>layouts/footer}}