<!doctype html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>전북대 기숙사이트</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="pdorm_reconnect" href="https://fonts.googleapis.com">
  <link rel="pdorm_reconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4ec59cdc0a.js" crossorigin="anonymous"></script>

  <link th:href="@{/css/index.css}" rel="stylesheet">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link th:href="@{/css/conversion-form.css}" rel="stylesheet">
</head>

<body>
<style>
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<header class="container-fluid p-0">
  <nav class="navbar top justify-content-between align-items-center p-3 w-100">
    <div class="navbar_logo">
      <i class="fa-solid fa-school"></i>
      <a href="index.html">전북대 기숙사이트</a>
    </div>

    <ul class="navbar_menu mb-0">
      <li><a href="#" target="_blank">기숙사 정보</a></li>
      <li><a href="#">기숙사 약도</a></li>
      <li><a href="#">기숙사 모의 지원</a></li>
      <li><a href="#">기숙사 평점</a></li>
      <li><a href="#">룸메 구인</a></li>
    </ul>

    <ul class="navbar_icons mb-0">
      <li><i class="fa-solid fa-sun"></i></li>
      <li><a href="#"><i class="fa-solid fa-house"></i></a></li>
    </ul>

    <a href="#" class="navbar_toggleBtn">
      <i class="fa-solid fa-bars"></i>
    </a>
  </nav>
</header>

<main>
  <div class="container mb-5 px-4">
    <h1 class="mb-5">기숙사 환산점수 계산</h1>
    <form action="/home" method="POST" class="mb-5">

      <table class="table table-hover table-bordered mb-5">
        <colgroup>
          <col width=15%>
          <col width=7%>
          <col width=7%>
          <col width=7%>
          <col width=20%>
          <col width=20%>
          <col width=10%>
          <col width=10%>
        </colgroup>

        <thead>
        <tr>
          <th scope="col">단과대학</th>
          <th scope="col">학점</th>
          <th scope="col">상점</th>
          <th scope="col">벌점</th>
          <th scope="col">시/도</th>
          <th scope="col">시/군/구</th>
          <th scope="col">거리점수</th>
          <th scope="col">환산점수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">
            <select class="form-select col-xxl-3 col-xl-4 col-lg-6 w-100" name="collage" id="collages"
                    aria-label="Default select example">
              <script th:type="module" th:src="@{/js/selectCollage.js}"></script>
            </select>
          </th>
          <td>
            <input type="number" name="grade" class="form-control" th:value="${grade}" id="gradeInput" step="0.01">
          </td>
          <td>
            <input type="number" name="bonusPoint" class="form-control" th:value="${bonusPoint}" id="bonusPointInput" step="1">
          </td>
          <td>
            <input type="number" name="minusPoint" class="form-control" th:value="${minusPoint}" id="minusPointInput" step="1">
          </td>
          <td>
            <select class="form-select col-xxl-3 col-xl-4 col-lg-6 w-100" name="province" id="provinces" aria-label="Default select example">
              <script th:type="module" th:src="@{/js/selectProvince.js}"></script>
            </select>
          </td>
          <td><select class="form-select col-xxl-3 col-xl-4 col-lg-6 w-100" name="city" id="cities" aria-label="Default select example">
            <script th:type="module" th:src="@{/js/selectCity.js}"></script>
          </select></td>
          <td>
            <input class="form-control" type="number" name="distanceScore" th:value="${distanceScore}" step="0.01" id="distanceScore">
          </td>
          <td>
            <input class="form-control" type="number" step="0.01" th:value="${conversionScore}" id="conversionScore" readonly>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="container row justify-content-between">
        <div class="form-check col-xxl-3 col-xl-4 col-lg-6">
          <input class="form-check-input" type="radio" name="gender" value="noInput" id="noInput" checked="checked">
          <label class="form-check-label" for="noInput">
            입력 안함
          </label>
        </div>
        <div class="form-check col-xxl-3 col-xl-4 col-lg-6">
          <input class="form-check-input" type="radio" name="gender" value="m" id="man">
          <label class="form-check-label" for="man">
            남성
          </label>
        </div>
        <div class="form-check col-xxl-3 col-xl-4 col-lg-6">
          <input class="form-check-input" type="radio" name="gender" value="w" id="woman">
          <label class="form-check-label" for="woman">
            여성
          </label>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6">
          <button class="btn btn-dark rounded-pill px-3" type="submit">계산하기!</button>
        </div>
      </div>
    </form>
  </div>

  <hr>

  <div class="container">
    <div class="row justify-content-center g-4 px-2 gap-4 mb-5 mt-2">

      <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
        <img src="./images/참빛관.png" class="card-img-top" alt="참빛관 사진">
        <div class="card-body">
          <h5 class="card-title">참빛관</h5>
          <p class="card-text"></p>
          <button class="btn btn-dark rounded-pill px-3" type="button"
                  onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C3000', '_blank')">홈페이지 ㄱ
            ㄱ</button>
        </div>
      </div>

      <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
        <img src="./images/대동관.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">대동관</h5>
          <p class="card-text"></p>
          <button class="btn btn-dark rounded-pill px-3" type="button"
                  onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C2000', '_blank')">홈페이지 ㄱ
            ㄱ</button>
        </div>
      </div>

      <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
        <img src="./images/평화관.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">평화관</h5>
          <p class="card-text"></p>
          <button class="btn btn-dark rounded-pill px-3" type="button"
                  onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C2000', '_blank')">홈페이지 ㄱ
            ㄱ</button>
        </div>
      </div>

      <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
        <img src="./images/새빛관.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">새빛관</h5>
          <p class="card-text"></p>
          <button class="btn btn-dark rounded-pill px-3" type="button"
                  onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C5000', '_blank')">홈페이지 ㄱ
            ㄱ</button>
        </div>
      </div>

      <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
        <img src="./images/한빛관.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">한빛관</h5>
          <p class="card-text"></p>
          <button class="btn btn-dark rounded-pill px-3" type="button"
                  onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C6000', '_blank')">홈페이지 ㄱ
            ㄱ</button>
        </div>
      </div>

      <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
        <img src="./images/창의관.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">창의관</h5>
          <p class="card-text"></p>
          <button class="btn btn-dark rounded-pill px-3" type="button"
                  onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C9000', '_blank')">홈페이지 ㄱ
            ㄱ</button>
        </div>
      </div>

      <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
        <img src="./images/혜민관.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">혜민관</h5>
          <p class="card-text"></p>
          <button class="btn btn-dark rounded-pill px-3" type="button"
                  onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C4000', '_blank')">홈페이지 ㄱ
            ㄱ</button>
        </div>
      </div>

      <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
        <img src="./images/특성화캠퍼스.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">웅비관</h5>
          <p class="card-text"></p>
          <button class="btn btn-dark rounded-pill px-3" type="button"
                  onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C7000', '_blank')">홈페이지 ㄱ
            ㄱ</button>
        </div>
      </div>

      <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">
        <img src="./images/특성화캠퍼스.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">청운관</h5>
          <p class="card-text"></p>
          <button class="btn btn-dark rounded-pill px-3" type="button"
                  onclick="window.open('https://likehome.jbnu.ac.kr/home/main/inner.php?sMenu=C8000', '_blank')">홈페이지 ㄱ
            ㄱ</button>
        </div>
      </div>

      <!--        <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">-->
      <!--          <img src="./images/미리보기.png" class="card-img-top" alt="...">-->
      <!--          <div class="card-body">-->
      <!--            <h5 class="card-title">추가 예정</h5>-->
      <!--            <p class="card-text"></p>-->
      <!--            <button class="btn btn-dark rounded-pill px-3" type="button">추가 예정</button>-->
      <!--          </div>-->
      <!--        </div>-->

      <!--        <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">-->
      <!--          <img src="./images/미리보기.png" class="card-img-top" alt="...">-->
      <!--          <div class="card-body">-->
      <!--            <h5 class="card-title">추가 예정</h5>-->
      <!--            <p class="card-text"></p>-->
      <!--            <button class="btn btn-dark rounded-pill px-3" type="button">추가 예정</button>-->
      <!--          </div>-->
      <!--        </div>-->

      <!--        <div class="card col-xxl-3 col-lg-4 col-md-6 col-sm-12 p-0" style="width: 18rem;">-->
      <!--          <img src="./images/미리보기.png" class="card-img-top" alt="...">-->
      <!--          <div class="card-body">-->
      <!--            <h5 class="card-title">추가 예정</h5>-->
      <!--            <p class="card-text"></p>-->
      <!--            <button class="btn btn-dark rounded-pill px-3" type="button">추가 예정</button>-->
      <!--          </div>-->
      <!--        </div>-->

    </div>
  </div>
</main>















<footer class="py-4 my-3 bg-dark bottom mb-0">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">About</a></li>
  </ul>
  <p class="text-center text-secondary">© 2024. 개발새발 All right reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>