.index-title { 
  /* position */
  background-color: #5F1C42;
  padding: 20px;
  color: #E6E6E6;
  text-align: center;
  margin: 0px;
}

/* index.html¿« header ∫Œ∫– */
.dorm-title {
  color: Red;
  /* position */
  position: absolute;
  top: 20px;
  left: 30px;

}

.dorm-cutline {
  position: absolute;
  top: 80px;
  left: 20px;
  text-align: center;
}

.sidebar-toggle {
  position: absolute;
  top:130px;
  left: 0px;
}