@font-face {
  font-family: 'NPSfontBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: "NPSfontBold";
}

html,body {
  height: 100%;
}

header {
  height: 15%;
}

a {
  text-decoration: none;
  color: white;
}